@import "../node_modules/fullpage.js/dist/fullpage.min.css";

$red: #e5625e;
$black: #262626;
$blue: #6494aa;
$aqua: #bdd5ea;
$yellow: #e9b872;
$green: #90a959;
$light-grey: #e4dee4;
$white: #d8d8d8;
$grey: rgba(57, 57, 57, .6);

$font1: 'Inconsolata',
monospace;
$font2: 'Product Sans',
'Open Sans',
sans-serif;


body {
    margin: auto;
    font: 130% $font1;
    color: $light-grey;

    #main {
        background-color: $black;

        #intro {
            display: inline-block;
            top: 55vh;
            right: 10vw;
            position: absolute;
            padding: 2%;
            background-color: $grey;
            box-shadow: 0 0 38px rgba(0, 0, 0, 0.3), 0 0 12px rgba(0, 0, 0, 0.22);

            #title {
                color: $red;
                font-family: $font2;
                font-size: 2em;
            }
        }
    }

    #photos {
        background-color: $white;
    }

    #navbar {
        position: fixed;
        transform: rotate(-90deg);
        font-size: 1.2em;
        left: 1vw;
        top: 80vh;
        width: 100vh;
        transform-origin: 0 0;

        .navlink {
            color: $yellow;
            list-style: none;
            padding: 0;
            margin: 0;
            font-family: $font1;
            padding: 10px;
        }

        .active {
            font-size: 1.2em;
        }
    }

}